<style>
  {{!-- body, html {
  background: #444;
  text-align: center;
  padding: 30px;
} --}}

select {
  width: 200px;
  margin-bottom: 20px;
  display: block;
}

#dark {
  height: 40px;
  font-size: 14px;
  border: 0;
  background: #222;
  color: #EEE;
}
.dark{
  height: 40px;
  font-size: 14px;
  border: 0;
  background: #222;
  color: #EEE;

}
</style>



<section id="main">
    <div class="container tm-mt-big tm-mb-big" style="margin-top: 2rem;">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/add/products" class="tm-edit-product-form" enctype="multipart/form-data" method="post">
                  <div class="form-group mb-3">
 
                        <div class="form-group mb-3">
                          <label for="name">name</label>
                          <input type="text" name="name" class="form-control">
                        </div>
                        
                     <label for="category">Category</label>
                         
                        <div class="form-group mb-3">
                          <select class="form-control" id="subCatVal" name="category" onchange="getSubCat()">
                          {{#each categories}}
                            <option value= {{this._id}}>{{this.category}}</option>
                            {{/each}}
                          </select>
                        </div>
                        
        
                        <div class="form-group mb-3">
                          <label for="price">sub category</label>
                          <input type="text" name="subCategory" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                          <label for="price">price</label>
                          <input type="text" name="price" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                          <label for="description">description</label>
                          <input type="text" name="description" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                          <label for="quantity">quantity</label>
                          <input type="number" name="quantity" class="form-control">
                        </div>
                       <div class="mt-2">

                            <img src="https://img.freepik.com/free-photo/cloud-uploading-icon-technology-graphic_53876-14666.jpg?w=740&t=st=1668269991~exp=1668270591~hmac=c26a3d1094cbc87157eadde994e5cbb5fba3145c00670fa45b10f3ae3d6b3058" id="imgView1" alt="" style="width:50px; height:50px;" >
                            <img src="https://img.freepik.com/free-photo/cloud-uploading-icon-technology-graphic_53876-14666.jpg?w=740&t=st=1668269991~exp=1668270591~hmac=c26a3d1094cbc87157eadde994e5cbb5fba3145c00670fa45b10f3ae3d6b3058" id="imgView2" alt="" style="width:50px; height:50px;" >
                            <img src="https://img.freepik.com/free-photo/cloud-uploading-icon-technology-graphic_53876-14666.jpg?w=740&t=st=1668269991~exp=1668270591~hmac=c26a3d1094cbc87157eadde994e5cbb5fba3145c00670fa45b10f3ae3d6b3058" id="imgView3" alt="" style="width:50px; height:50px;" >
                            <img src="https://img.freepik.com/free-photo/cloud-uploading-icon-technology-graphic_53876-14666.jpg?w=740&t=st=1668269991~exp=1668270591~hmac=c26a3d1094cbc87157eadde994e5cbb5fba3145c00670fa45b10f3ae3d6b3058" id="imgView4" alt="" style="width:50px; height:50px;" >

                        </div>


                        <div class="form-group mt-3 mb-3">
                          <label for="image">image</label>
                          <input type="file" class="form-control" name="image" id="gallery-photo-add" onchange="viewImage(event)" multiple required accept="image/jpeg, image/jpg, image/png, image/webp">
                        </div>
                  
              </div>
  
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

</section>      

<script src="https://cdn.crop.guide/loader/l.js?c=ZQVVZF"></script>
<script>
  function viewImage(event){
    document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
    document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[1])
    document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[2])
    document.getElementById('imgView4').src = URL.createObjectURL(event.target.files[3])
  }
</script>


      
  
   
   
  
